/************************************************
* PEL CSS RESET
*
* Author: Pierre-Emmanuel Lévesque
* License: none (public domain)
* Based on Eric Meyer and HTML5 Doctor resets
*************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fixes old browser resize bugs */
html {
  font-size: 100.01%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

/************************************************
* COMMON
*************************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: color 500ms linear, background 500ms linear;
  -moz-transition: color 500ms linear, background 500ms linear;
  -ms-transition: color 500ms linear, background 500ms linear;
  -o-transition: color 500ms linear, background 500ms linear;
  transition: color 500ms linear, background 500ms linear;
}

/************************************************
* HEADER
*************************************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 175px;
  padding: 15px;
  color: #aaa;
  background: #212121;
  z-index: 99;
  opacity: 0.85;
  overflow: hidden;
  -webkit-transition: height 500ms linear, opacity 500ms linear;
  -moz-transition: height 500ms linear, opacity 500ms linear;
  -ms-transition: height 500ms linear, opacity 500ms linear;
  -o-transition: height 500ms linear, opacity 500ms linear;
  transition: height 500ms linear, opacity 500ms linear;
}

.header_small {
  height: 86px;
  opacity: 1;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  height: 56px;
  background-image: url("logo.png");
  text-indent: -9999px;
}

header a:link, header a:visited {
  color: #aaa;
}

header a:hover, header a:active, header a.active {
  color: #eec147;
}

header nav#menu {
  display: inline-block;
  margin-left: 100px;
  font: 300 0.8em/1 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav#menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  cursor: pointer;
}

header #quebec_flag {
  position: absolute;
  top: 109px;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 43px;
  background-image: url("flag_quebec.jpg");
}

header > a {
  position: absolute;
  top: 145px;
  left: 20px;
  font: 300 0.8em/1 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header p {
  font: 100 2.6em/1 'Lato', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 6px;
  margin-top: 20px;
  color: #eec147;
}

header nav.social {
  position: absolute;
  top: 125px;
  right: 20px;
}

header nav.social li {
  display: inline-block;
  margin: 0 0 0 10px;
}

header nav.social li a {
	color: #eec147
}

header nav.social li a:hover {
	
}

header nav.social li a span {
  display: none;
}

/* IE 7 Fix for inline-block */
header h1, header nav#menu, header nav#menu li, header nav.social li {
  zoom: 1;
  *display: inline;
}

/* for mobiles and tablets */
@media only screen and (max-device-width: 768px) {
  header p {
    font: 300 2.6em/1 'Lato', Helvetica, sans-serif;
  }
}

/************************************************
* BANNER
*************************************************/

#banner {
  position: relative;
  padding-top: 60%;
  overflow: hidden;
  border-bottom: 5px solid #212121;
}

#banner .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
}

#banner img.slide {
  height: auto;
}

#banner .pager_list {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  z-index: 4;
}

#banner .pager_list li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -99999px;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#banner .pager_list li:hover,
#banner .pager_list li.active {
  opacity: 1;
}

/************************************************
* SYSTEM
*************************************************/

#system {
  padding: 60px 60px 70px 60px;
  background: #f5f5f5;
  background-image: url("ricepaper_pattern.jpg");
  border-bottom: 5px solid #ddd;
}

#system h2 {
  display: none;
}

#system p {
  text-align: center;
  color: #212121;
  font: 300 2em/1.5 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
}

#system ol li {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  margin-top: 50px;
  cursor: pointer;
}

#system ol li span {
  display: block;
  text-align: center;
  font: 100 4em/1 'Lato', Helvetica, sans-serif;
  margin-bottom: 15px;
  color: #eec147;
}

#system ol li a {
  display: block;
  padding: 20px 0;
  margin: auto;
  width: 280px;
  font: 300 1.2em/1 'Lato', Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  background: #eec147;
  color: #212121;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#system ol li a:link, #system ol li a:visited {
  background: #eec147;
}

#system ol li a:hover, #system ol li a:active {
  background: #eeb10c;
}

/************************************************
* GLASSES
*************************************************/

#glasses {
  padding: 60px;
  background: #ffffff;
  border-bottom: 5px solid #eeb10c;
}

#glasses h2 {
  text-align: center;
  font: 100 3em/1 'Lato', Helvetica, sans-serif;
  text-shadow: 0 1px 4px rgba(0,0,0,.2);
  letter-spacing: 3px;
  color: #212121;
}

#glasses h3 {
  position: absolute;
  bottom: 120px;
  z-index: 9;
  font: 300 2.5em/1 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #aaa;
  letter-spacing: 3px;
}

#glasses .flexslider_wrapper {
  width: 650px;
  margin: 0px auto;
}

/* FlexSlider Browser resets
*********************************/

/* browser resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.flexslider .slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider .slide {
  width: 100%
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

/* Clearfix for the .slides element */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Theme
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .flex-prev, .flexslider .flex-next {
  display: none;
}

.flex-control-thumbs {
  margin: 0px auto;
  width: 100%;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 20%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .4;
  cursor: pointer;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/************************************************
* COLORS
*************************************************/

#colors {
  background: #f5f5f5;
  background-image: url("ricepaper_pattern.jpg");
  
  background: #fed345;
  
  background: #eec147;
  
  
  padding: 60px;
  border-bottom: 5px solid #ccc;
}

#colors h2 {
  margin-bottom: 60px;
  text-align: center;
  font: 100 3em/1 'Lato', Helvetica, sans-serif;
  text-shadow: 0 1px 4px rgba(0,0,0,.2);
  letter-spacing: 3px;
  color: #2a2017;
}

#colors ol {
  text-align: center;
}

#colors ol > li {
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  font: 300 1.5em/1 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
  background: #fff;
  /* background-image: url("ricepaper_pattern.jpg"); */
  margin: 0px 25px;
  letter-spacing: 1px; 
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#colors ul {
  margin-top: 25px;
}

#colors ul > li {
  font: 300 0.6em/3.6 'Lato', Helvetica, sans-serif;
  text-align: left;
}

#colors img, #colors span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius: 40%;
}

/************************************************
* ORDER
*************************************************/

#order {
  background: #f5f5f5;
  background: #fedabc;
  background: #212121;
  padding: 60px 60px 20px 60px;
  border-bottom: 5px solid #ccc;
  
  color: #fff;
}

#order h2 {
  margin-bottom: 60px;
  text-align: center;
  font: 100 3em/1 'Lato', Helvetica, sans-serif;
  text-shadow: 0 1px 4px rgba(0,0,0,.2);
  letter-spacing: 3px;
}

#order p {
  text-align: center;
}

#order p.price {
  font: 300 3em/1.5 'Lato', Helvetica, sans-serif;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#order p abbr, #order p small {
  font: 300 0.6em/1 'Lato', Helvetica, sans-serif;
}

#order p.note {
  font: 300 1.5em/1 'Lato', Helvetica, sans-serif;
}

#order h3, #order .vcard p span {
  display: none;
}

#order .vcard {
  margin-top: 60px;
  margin-bottom: 50px;
}

#order .vcard p {
  font: 300 2.6em/2 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
}

#order .vcard p i {
  margin-right: 15px;
}

/************************************************
* INFOS
*************************************************/

#infos {
  background: #f5f5f5;
  padding: 60px;
  background-image: url("ricepaper_pattern.jpg");
  border-bottom: 5px solid #ddd;
}

#infos h2 {
  font: 100 3em/2 'Lato', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#infos #infos_container {
  overflow: hidden;
  margin-bottom: 70px;
}

#infos #infos_container .description p {
  font: 300 1.4em/2 'Lato', Helvetica, sans-serif;
}

#infos #infos_container .description p:first-child {
  margin-bottom: 30px;
}

#infos #infos_container .image {
  float: right;
  margin-left: 40px;
}	

#infos #gallery {
  overflow: hidden;
  margin: 0 auto;
}

#infos #gallery li {
  float: left;
  margin: 20px 30px;
}

#infos #gallery li img {
  padding: 4px;
  border: 1px solid #ccc;
}

#infos nav {
  text-align: center;
  margin-top: 60px;
}

#infos nav li {
  display: inline-block;
  margin: 0 30px;
}

#infos nav a:link, #infos nav a:visited {
  color: #000;
}

#infos a#facebook:hover, #infos a#facebook:active {
  color: #3b5998;
}

#infos a#twitter:hover, #infos a#twitter:active {
  color: #00acee;
}

#infos a#pinterest:hover, #infos a#pinterest:active {
  color: #d11c2c;
}

#infos a#youtube:hover, #infos a#youtube:active {
  color: #ff0000;
}

#infos nav li span{
  display: none;
}

/************************************************
* FOOTER
*************************************************/

footer {
  padding: 20px;
  background: #2a2017;
  color: #aaa;
  font: 300 0.8em/1 'Lato', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

footer a:link, footer a:visited {
  color: #ffd305;
}

footer a:hover, footer a:active {
  color: #ffffff;
}
